<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="server" value="175.107.62.190"/>-->
    <add key="server" value="192.168.1.100"/>
    <add key="rptserver" value="192.168.1.100"/>
    <!-- 192.168.1.100:8080 for Mardan-->
    <add key="db"  value="SDC_PWA_LIVE"/>
    <add key="domain"  value="sdc2-psh-svr1"/>
    <!-- SDCMRD.khyberpakhtunkhwa.gov.pk -->
    <add key="port" value="9899"/>
    <add key="Tehsil"  value="35"/>
    <add key="Report"  value="Live"/>
    <add key="allow" value="$$UnhAbitat@@2013##"/>
    <add key="sdc" value="Pwa"/>
    <add key="usr" value="rpt"/>
    <add key="adpsreport" value="iMcbg104"/>
    <add key="FardChallan" value="Bank"/>
    <!-- "Bank" when payment at bank else "Sdc" when payment at sdc -->
    <add key="ReportingFolder" value="LandWebReporting"/>
    <add key="ReportingFolderLand" value="LandWebReporting"/>
  </appSettings>
</configuration>
