<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="server" value="9NhC5DpyPUY+Db4/rUMKTA=="/>
    <!--Live Server-->
    <!-- <add key="server" value="9NhC5DpyPUYnIHt65/98Qg=="/> -->
    <!--Test Server 227-->
    <!--<add key="server" value="9NhC5DpyPUZF4niiYh+oWw=="/>-->
    <!--Test Server 228-->
    <add key="rptserver" value="9NhC5DpyPUY+Db4/rUMKTA=="/>
    <!--Live Server-->
    <!--<add key="rptserver" value="9NhC5DpyPUYnIHt65/98Qg=="/>-->
    <!--Test Server-->
    <add key="domain"  value="9NhC5DpyPUZ8cxo0WVXayQ=="/>
    <!--Live Server-->
    <!--<add key="domain"  value="9NhC5DpyPUYnIHt65/98Qg=="/>-->
    <!--Test Server-->
    <!-- 192.168.1.100:8080 for Mardan-->
    <add key="db"  value="/OV+kIF1E5s="/>
    <!-- SDCMRD.khyberpakhtunkhwa.gov.pk -->
    <add key="port" value="9899"/>
    <add key="rptport" value="8RA9u+wDCcQ="/>
    <!-- OnlYG96NlXY= 8RA9u+wDCcQ= -->
    <add key="Tehsil"  value="1WsYb/9/cow="/>
    <!--61 lakki marwat-->
    <add key="Report"  value="Live"/>
    <add key="allow" value="zRTNNCHCESkcFRjaMRXusLYZZvE8ORaj"/>
    <add key="sdc" value="Pwa"/>
    <add key="usr" value="iIFWofPCeXfHYH7Bo1hGkA=="/>
    <add key="showFormName" value="FALSE"/>
    <add key="adpsreport" value="HhpNnYAFBEQFDCMzOXHv8w=="/>
    <!--Live Server-->
    <!--<add key="adpsreport" value="BA9A3CP5gjnMj7CZhAnSaA=="/>-->
    <!--Test Server-->
    <add key="FardChallan" value="Sdc"/>
    <!-- "Bank" when payment at bank else "Sdc" when payment at sdc LCptMfUyuBGFwp3c6YIy1w==  -->
    <add key="ReportingFolder" value="LandWebReportingCLRMIS"  />
    <!--"SDC_Reporting_Application"/> -->
    <add key="ReportingFolderLand" value="LandWebReportingCLRMIS"/>
    <add key="ScanData" value="http://172.16.100.228/Images"/>
  </appSettings>
</configuration>